* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #252932;
    line-height: 1.5;
    text-decoration: none;
    /* border: 1px solid blue; */
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #5b636a;
}

li {
    list-style-type: none;
}

html {
    font-size: 16px;
}

#outer-grid-container {
    display: grid;
    grid-template-areas: "header header header"
                         "results results results"
                         "left-sidebar main right-sidebar"
                         "footer footer footer";
    grid-template-columns: 28% 44% 28%;
    
}

#header {
    grid-area: header;
    display: grid;
    /* gap: 5px; */
    color: rgb(91 99 106);
    font-size: 13px;
    font-weight: 550;
    padding: 0 5.5rem;
    padding-top: 2px;
    /* margin-bottom: 20px; */
}

#upper-header-part-wrapper {
    /* position: fixed; */
    /* width: 100%;
    padding: 0 5.5rem;
    padding-top: 2px;
    border: 1px solid blue; */
}

.logo {
    font-size:  1.5rem;
    font-weight: 800;
}

.logo span:first-child {
    color: blue;
}

.logo span:last-child {
    color: rgb(125 46 255);
    font-style: italic;
}

header ul {
    display: flex;
}

header a:hover {
    color:rgb(125 46 255);
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    padding: 2px 0px;
    margin-left: 20px;
    border: 2px solid rgba(211, 213, 215, 0.515);
    border-radius: 20px;
    background-color: #f5f8fa;
}

#search-form:hover {
    border: 2px solid rgba(70, 36, 125, 0.588);
    box-shadow: 0px 7px 4px rgba(211, 213, 215, 0.515);
}

#search-form button {
    /* display: inline-flex; */
    padding: 3px 25px;
    font-size: 1rem;
    margin-left: 2px;
    border-radius: 17px;
    background-color: rgb(125 46 255);
    border: 1px solid rgb(125 46 255);
}

#search-form button:hover {
    background-color: rgb(94, 16, 218);
    cursor: pointer;
}

#search-form input {
    width: 85%;
    font-size: 1rem;
    height: 26px;
    margin: 0 10px;
    background-color: #f5f8fa;
    border-style: none;
    padding-left: 10px;
}

#search-form input:focus {
    border-style: none;
    outline-style: none;
}

#upper-header-part, #upper-header-navbar, #lower-header-navbar, #lower-header-part {
    display: flex;
    align-items: center;
}

#upper-header-part {
    /* position: fixed; */
    justify-content: space-around;
    height: 60px;
    /* border: 1px solid blue; */
}

#basic-links li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem
}

/* #number {
    display: grid;
    grid-template-rows: ;
    justify-content: space-around;
} */

#upper-header-navbar {
    display: flex;
    /* border: 1px solid red; */
    /* background-color: red; */
    justify-content: space-around;
}

#upper-header-navbar {
    display: flex;
    justify-content: space-around;
}

#lower-header-navbar {
    height: 40px;
}

#category-links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#basic-links, #authentication-links {
    justify-content: space-evenly;
}

#authentication-links li {
    border: 1px solid #5b636a;
    padding: 8px 15px;
    border-radius: 20px;
}

#authentication-links li:first-child {
    border: 1px solid rgb(125 46 255);
}

#authentication-links li:first-child a {
    color: rgb(125 46 255);
}


#results {
    grid-area: results;
    background-color: #edf7fc;
    padding: 0 5.5rem;
}

#left-sidebar {
    grid-area: left-sidebar;
    background-color: #edf7fc;
    padding-left: 5.5rem;
    padding-right: 30px;
    border-bottom: 2px solid white;
    padding-top: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* border: 1px solid blue; */
}

#radio-sessions {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgba(211, 213, 215, 0.929);
}

#latest-radio-sessions h2 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(211, 213, 215, 0.929);
}

#latest-radio-sessions p {
    margin: 10px 0;
}

#latest-radio-sessions a:hover {
    text-decoration: underline;
}

#latest-radio-sessions {
    padding-bottom: 12px;
}

#latest-radio-sessions p  span:nth-child(2) {
    font-weight: 550;
    font-size: 14px;
}

#latest-radio-sessions p span:nth-child(3) {
    font-size: 13px;
    font-style: italic;
}

#image-container {
    overflow: hidden;
}

#radio-sessions img {
    width: 100%;
    transition: transform 1s ease;
}

#radio-sessions img:hover {
    transform: scale(1.1);
}

#radio-sessions button {
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: 550;
    background-color: rgb(125 46 255);
    /* background-color: rgba(46, 91, 255, 0.648); */
    border: 1px solid rgb(125 46 255);
    padding: 7px 20px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#radio-sessions button:hover {
    background-image: linear-gradient(45deg, rgba(78, 115, 250, 0.648), rgb(125 46 255));
}


#main {
    grid-area: main;
    background-color: #edf7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    padding-top: 10px;
 /* border: 1px solid blue; */
}

.news-collection {
    /* width: 100%; */
    background-color: white;
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 13px;
    margin-bottom: 10px;
}

.news-collection .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 213, 215, 0.929);
    padding: 5px 15px;
}

.news-collection h2 {
    font-size: 20px;
}

.news-collection h3 {
    
    font-size: 22px;
}

.news-collection-big-news {
    width: 100%;
    padding: 15px;
    /* object-fit: cover; */
}

.news-collection-big-news img {
    width: 100%;
}

.news-collection-small-news {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    gap: 10px;
    padding: 0 15px 15px 15px;
}

.news-collection-small-news .cards {
    flex: 1;
    /* padding: 10px;; */
}

.news-collection-small-news .cards img {
    width: 100%;
}

.news-collection h4 {
    font-size: 14px;
}

#right-sidebar {
    grid-area: right-sidebar;
    background-color: #edf7fc;
    padding-right: 5.5rem;
    padding-left: 30px;
    /* display: flex; */
    /* justify-content: center; */
    border-bottom: 2px solid white;
    padding-top: 10px;
}

#right-sidebar img {
    /* width: 300px; */
    width: 100%;
    /* padding-left: 30px; */
}

#footer {
    grid-area: footer;
    background-color: #edf7fc;
    padding: 15px 0;
    border-top: 1px solid rgba(211, 213, 215, 0.929);
}

#footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

footer > p {
    text-align: center;
    border-top: 1px solid rgba(211, 213, 215, 0.929);
    padding-top: 10px;
}


/* Style for forms used in Register account, Log in and Contact us ************************** */

.form-container a {
    text-decoration: underline;
}

.form-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 14px 80px;
}

.form-header ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.form-header li a {
    font-size: 14px;
    /* text-decoration: underline; */
    /* font-weight: 550; */
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e8ebec8d;
    min-height: 710px;
}

.form-main-content {
    width: 360px;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: white;
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 20px;
}

.form-main-content-contact-us {
    width: 400px;
}

.form-main h1 {
    font-size: 23px;
    font-weight: 550;
}    

.form-main p {
    font-size: 16px;
}

.form-main form p {
    font-size: 14px;
    text-align: center;
}

.form-main h1, .form-main p {
    /* text-align: justify; */
    margin: 10px 0px;
}

.form-main form {
    padding-top: 20px;
}

.form-container label {
    font-size: 13px;
    font-weight: 550;
}


.form-container form button, .form-container button {
    width: 100%;
    height: 52px;
    font-weight: 550;
    color: white;
    font-size: 14px;
    background-color: rgb(125 46 255);
    border: 1px solid rgb(125 46 255);
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.form-container form button:hover {
    background-image: linear-gradient(45deg, rgba(78, 115, 250, 0.648), rgb(125 46 255));
}

.form-main button {
    border-style: hidden;
    background-color: white;
    color: rgb(125 46 255);
}

.form-main .google-button {
    border: 2px solid rgb(211, 213, 215, 0.515);
}

.form-main .google-button:hover {
    border: 2px solid rgba(109, 64, 182, 0.627);
}

.form-main button:hover {
    background-color: rgba(179, 149, 227, 0.281);
}

.form-container input[type="text"], .form-container input[type="email"], .form-container input[type="tel"] {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    border: 1px solid rgba(154, 155, 156, 0.929);
    border-radius: 5px;
}

.form-container input:hover {
    border: 1px solid rgb(125 46 255);
}

.form-container input:focus {
    /* border: 1px solid rgb(125 46 255); */
    outline: 1px solid rgb(125 46 255);
}

.separating-lines {
    display: grid;
    grid-template-columns: 3fr 0.5fr 3fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.separating-lines p {
    text-align: center;
}


.login-form-middle-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form-middle-part input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.login-form-middle-part label {
    font-size: 14px;
    font-weight: 400;
}

.login-form-middle-part p {
    padding-bottom: 8px;
}

.form-main-content-contact-us section {
    margin-bottom: 20px;
    /* text-align: center; */
}

.form-main-content-contact-us section input {
    margin-left: 8px;
}

.form-main-content-contact-us section p {
    font-size: 17px;
    font-weight: 550;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(154, 155, 156, 0.929);
    padding-left: 20px;
    border-radius: 5px;
    resize: none;
}

textarea:hover {
    border: 1px solid rgb(125 46 255);
}

textarea:focus {
    outline: 1px solid rgb(125 46 255);
}

/* END of: Style for forms used in Register account, Log in and Contact us ****************** */

/* Start of style for about.html page ************************** */

#main-section-about-us {
    background-color: #edf7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    /* border: 1px solid blue; */
}

#about-us {
    width: 60%;
    background-color: white;
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 13px;
    padding: 15px;
}

#about-us a {
    color: blue;
}

#about-us .heading {
    border-bottom: 1px solid rgba(211, 213, 215, 0.929);
    padding: 5px 0px;
}


#about-us h2 {
    font-size: 20px;
}

#about-us h3 {
    font-size: 22px;
}

#about-us-big-image {
    width: 100%;
    padding: 15px 0px;
}

#about-us-big-image img {
    width: 100%;
}

#about-us-words-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 15px;
    margin-bottom: 15px;
}

#about-us-words-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about-us-words-card {
    padding: 15px;
    background-color: rgba(211, 215, 215, 0.185);
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(211, 213, 215, 0.929);
    text-align: justify;
}

#about-us-words-card h3 {
    font-size: 20px;
    border-bottom: 1px solid rgba(211, 213, 215, 0.929);
    /* padding: 5px 0px; */
    margin-bottom: 5px;
}

#about-us-team-members {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    gap: 10px;
    padding: 10px 0px;
}

#about-us-team-members .cards {
    flex: 1;
    padding: 10px 0px;
}

#about-us-team-members .cards img {
    width: 100%;
}

#about-us h4 {
    font-size: 14px;
}



/* END of style for about.html page ************************** */

/* START of style for all-news.html ******************************* */

#outer-grid-all-news {
    display: grid;
    padding: 0px 98px;
    grid-template-columns: 4fr 1fr;
    border-bottom: 2px solid white;
    /* background-color: #edf7fc; */
    /* border: 1px solid blue; */
}

#right-sidebar-all-news {
    /* grid-area: right-sidebar; */
    /* background-color: #edf7fc; */
    border-bottom: 2px solid white;
}

#right-sidebar-all-news img {
    /* width: 300px; */
    width: 100%;
    /* padding-left: 30px; */
}

#main-section-all-news {
    /* background-color: #edf7fc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    /* border: 1px solid blue; */
}

.news-item * {
    /* border: 1px solid blue; */
}

#main-section-all-news .news-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 90%;
    background-color: #edf7fc;
    padding: 5px;
    min-height: 70px;
    box-shadow: 0px 5px 8px rgba(128, 128, 128, 0.388);
    margin: 15px;
}

#main-section-all-news .news-item img {
    width: 100%;
}

#main-section-all-news .news-text {
    display: flex;
    flex-direction: column;
    padding: 0px 5px 5px 15px;
}

#main-section-all-news .news-text h3 {
    border-bottom: 1px solid #bed4df;
    /* margin-bottom: 5px; */
}

#main-section-all-news img {
    margin-top: 6px;
}

#main-section-all-news .news-text p:nth-child(2) {
    /* border-bottom: 1px solid #bed4df; */
}

#main-section-all-news .news-text p > span:first-child {
    font-size: 13px;
    font-weight: 700;
}

#main-section-all-news .news-text p > span:nth-child(2) {
    font-size: 13px;
}

#main-section-all-news .news-text p > span:nth-child(3) {
    font-size: 13px;
}

#main-section-all-news .news-text p > span {
    margin-right: 3px; 
}



/* END of style for all-news.html ****************************************** */