* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #252932;
    line-height: 1.5;
    text-decoration: none;
    /* border: 1px solid blue; */
}

a {
    /* text-decoration: none; */
}

a:link, a:visited {
    color: #5b636a;
}

li {
    list-style-type: none;
}

html {
    font-size: 16px;
}

#outer-grid-container {
    display: grid;
    grid-template-areas: "header header header"
                         "results results results"
                         "left-sidebar main right-sidebar"
                         "footer footer footer";
    grid-template-columns: 28% 44% 28%;
    
}

#header {
    grid-area: header;
    display: grid;
    /* gap: 5px; */
    color: rgb(91 99 106);
    font-size: 13px;
    font-weight: 540;
    padding: 0 5.5rem;
    padding-top: 2px;
}

.logo {
    font-size:  1.5rem;
    font-weight: 800;
}

.logo span:first-child {
    color: blue;
}

.logo span:last-child {
    color: rgb(125 46 255);
    font-style: italic;
}

header ul {
    display: flex;
}

header a:hover {
    color:rgb(125 46 255);
}

#search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    padding: 2px 0px;
    margin-left: 20px;
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 16px;
    background-color: #f5f8fa;
}

#search-form button {
    /* display: inline-flex; */
    padding: 3px 25px;
    font-size: 1rem;
    margin-left: 2px;
    border-radius: 17px;
    background-color: rgb(125 46 255);
    border: 1px solid rgb(125 46 255);
}

#search-form input {
    width: 85%;
    height: 26px;
    margin: 0 10px;
    background-color: #f5f8fa;
    border-style: none;
}

#search-form input:focus {
    border-style: none;
    outline-style: none;
}

#upper-header-part, #upper-header-navbar, #lower-header-navbar, #lower-header-part {
    display: flex;
    align-items: center;
}

#upper-header-part {
    justify-content: space-around;
    height: 60px;
}

#basic-links li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem
}

/* #number {
    display: grid;
    grid-template-rows: ;
    justify-content: space-around;
} */

#upper-header-navbar {
    display: flex;
    /* border: 1px solid red; */
    /* background-color: red; */
    justify-content: space-around;
}

#upper-header-navbar {
    display: flex;
    justify-content: space-around;
}

#lower-header-navbar {
    height: 60px;
}

#category-links {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

#basic-links, #authentication-links {
    justify-content: space-evenly;
}

#authentication-links li {
    border: 1px solid #5b636a;
    padding: 8px 15px;
    border-radius: 20px;
}

#authentication-links li:first-child {
    border: 1px solid rgb(125 46 255);
}

#authentication-links li:first-child a {
    color: rgb(125 46 255);
}


#results {
    grid-area: results;
    background-color: #edf7fc;
    padding: 0 5.5rem;
}

#left-sidebar {
    grid-area: left-sidebar;
    background-color: #edf7fc;
    padding-left: 5.5rem;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    grid-area: main;
    background-color: #edf7fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
 /* border: 1px solid blue; */
}

.news-collection {
    /* width: 100%; */
    background-color: white;
    border: 1px solid rgba(211, 213, 215, 0.929);
    border-radius: 13px;
    
}

.news-collection .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 213, 215, 0.929);
    padding: 5px 15px;
}

.news-collection h2 {
    font-size: 20px;
}

.news-collection h3 {
    
    font-size: 22px;
}

.news-collection-big-news {
    width: 100%;
    padding: 15px;
    /* object-fit: cover; */
}

.news-collection-big-news img {
    width: 100%;
}

.news-collection-small-news {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    gap: 10px;
    padding: 0 15px 15px 15px;
}

.news-collection-small-news .cards {
    flex: 1;
    /* padding: 10px;; */
}

.news-collection-small-news .cards img {
    width: 100%;
}

.news-collection h4 {
    font-size: 14px;
}

#right-sidebar {
    grid-area: right-sidebar;
    background-color: #edf7fc;
    padding-right: 5.5rem;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
}

#right-sidebar img {
    /* width: 300px; */
    width: 100%;
    padding-left: 30px;
}

#footer {
    grid-area: footer;
    background-color: #edf7fc;
    padding: 15px 0;
    border-top: 1px solid rgba(211, 213, 215, 0.929);
}

#footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

footer > p {
    text-align: center;
    border-top: 1px solid rgba(211, 213, 215, 0.929);
    padding-top: 10px;
}
